<section>
    <h1 id="section-name" class="red">Sobre</h1>
        <article>
            <p>Projeto de pagina de postagens utilizando a estrutura MVC e a linguagem PHP.</p>
            <br>
            <p>Algumas funcionalidades serao acresentadas como forma de aprensizagem de um nova linhagem
            e estrutura de desevolviento de aplicacoes web.</p>
            <br>
            <p>Author: Edson Rodrigues</p>
            <p>GitHub: <a href="https://github.com/EDnotSheeran">github.com/EDnotSheeran</a></p>    
            <a id="youtube" href="https://www.youtube.com/playlist?list=PLgbAYUnxJ2NE6eM2xkOlpqJ5sl37bLyKx">
                link da playlist
            </a>
        </article>
        <br>
</section>