<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postagens</title>
    <link rel="stylesheet" href="Public/Style/style.css">
</head>
<body>
    <div id="corpo">
        <div id="topo">
            <header>
                <nav>
                    <a class="nav-item" href="/Blog-PHP/?pagina=home">Home</a> 
                    <span class="red">|</span>
                    <a class="nav-item" href="/Blog-PHP/?pagina=sobre">Sobre</a>
                    <a class="nav-item fright" href="/Blog-PHP/?pagina=admin&metodo=index">Admin</a>
                </nav>
            </header>
        </div>    
    <div id="conteudo">
        {{Area_Dinamica}}
    </div>
</div>
</body>
</html>